<div class="panel-heading">
    <div class="row form-inline">
        <div class="col-md-3">
            <div class="pull-left mt5">
                        <button class="btn btn-sm btn-primary right ml5" ng-click="formView(curRec, postdata._id, 2)"><span tsp-i18n="words.edit"></span> {{object}}</button>
                        <button ng-click="listView()" class="btn btn-sm btn-primary right"><i class="fa fa-arrow-left"></i></button>
                    </div>
        </div>
        <div class="col-md-9 light_bkg">
            <h4 class="text-uppercase title text-normal pull-right mr15"><strong>{{object}} <span tsp-i18n="words.details"></span></strong>&nbsp;</h4>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="page page-form-details clearfix">
        <div class="page-wrap">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body mb30 form-details">
                        <div class="clearfix mb20">
                            <div class="row mb10" class="text-light project-title">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <!-- Resizes better than widget - DO NOT REMOVE //-->
                                            <span class="badge" style="background-color: {{postdata.status.background}}; color: {{postdata.status.foreground}};">{{postdata.status.title}}</span>
                                        </div>
                                        <div class="col-sm-10 text-h4">
                                            <strong><span tsp-i18n="words.reservation"></span></strong>: {{postdata.title}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row mb30">
                                <div class="col-sm-6 small">
                                    <strong><span tsp-i18n="words.reservation_type"></span>:&nbsp;&nbsp;</strong>{{postdata.type.title}}<br>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                        </div>

                        <!-- description -->
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="mb40">
                                    <div class="sub-header mb20">
                                        <h4><strong>{{postdata.type.title}} <span tsp-i18n="words.details"></span></strong></h4>
                                    </div>
                                    <div class="row mb20">
                                        <div class="col-sm-6">
                                            <span tsp-i18n="words.from"></span>:
                                        </div>
                                        <div class="col-sm-6">
                                            <tsp-table-widget
                                                    type="date"
                                                    format="MM/DD/YYYY hh:mm A"
                                                    field-data="postdata"
                                                    field-key="start_time">
                                            </tsp-table-widget>
                                        </div>
                                    </div>
                                    <div class="row mb20">
                                        <div class="col-sm-6">
                                            <span tsp-i18n="words.to"></span>:
                                        </div>
                                        <div class="col-sm-6">
                                            <tsp-table-widget
                                                    type="date"
                                                    format="MM/DD/YYYY hh:mm A"
                                                    field-data="postdata"
                                                    field-key="end_time">
                                            </tsp-table-widget>
                                        </div>
                                    </div>
                                    <div class="row mb20">
                                        <div class="col-sm-6">
                                            <span tsp-i18n="words.venue"></span>:
                                        </div>
                                        <div class="col-sm-6">
                                            <tsp-table-widget
                                                    type="typeicon"
                                                    show-title="true"
                                                    field-data="postdata"
                                                    field-key="venue">
                                            </tsp-table-widget>
                                        </div>
                                    </div>
                                    <div class="row mb20">
                                        <div class="col-sm-6">
                                            <span tsp-i18n="words.occurs"></span>:
                                        </div>
                                        <div class="col-sm-6">
                                            <tsp-table-widget
                                                    type="typeicon"
                                                    show-title="true"
                                                    field-data="postdata"
                                                    field-key="reoccur">
                                            </tsp-table-widget>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb40" ng-if="postdata.client_user_id">
                                    <div class="sub-header mb20">
                                        <h4><strong tsp-i18n="words.client"></strong></h4>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-sm-6"><span tsp-i18n="words.name"></span>:</div>
                                        <div class="col-sm-6 wrap"><tsp-table-widget type="avatar"
                                                                                     field-data="postdata"
                                                                                     field-key="client_user">
                                        </tsp-table-widget>{{postdata.client_user.title}}</div>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-sm-6"><span tsp-i18n="words.email"></span>:</div>
                                        <div class="col-sm-6 wrap"><a href="javascript:;">{{postdata.client_user.metadata.email}}</a></div>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-sm-6"><span tsp-i18n="words.website"></span>:</div>
                                        <div class="col-sm-6 wrap"><a target="_blank" href="{{postdata.client_user.metadata.url}}">{{postdata.client_user.metadata.url}}</a></div>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-sm-6"><span tsp-i18n="words.phone_work"></span>:</div>
                                        <div class="col-sm-6">{{postdata.client_user.metadata.work_phone | tspFilterPhone}}</div>
                                    </div>
                                    <div class="row mb10">
                                        <div class="col-sm-6"><span tsp-i18n="words.phone_mobile"></span>:</div>
                                        <div class="col-sm-6">{{postdata.client_user.metadata.mobile_phone | tspFilterPhone}}</div>
                                    </div>
                                </div>
                                <div class="mb40" ng-if="postdata.metadata.location">
                                    <div class="sub-header mb20">
                                        <h4><strong tsp-i18n="words.location"></strong></h4>
                                    </div>
                                    <div class="row mb200">
                                        <div class="col-sm-6 text-center">
                                            <i class="h1 glyphicons glyphicons-map-marker text-danger"></i>
                                        </div>
                                        <div class="col-sm-6">
                                            {{postdata.metadata.location.address1}} {{postdata.metadata.location.address2}}<br>
                                            {{postdata.metadata.location.city}}, {{postdata.metadata.location.state.state_code}} {{postdata.metadata.location.zip_code}}<br>
                                            {{postdata.metadata.location.country.title}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="sub-header mb20">
                                    <h4><strong>{{postdata.type.title}} <span tsp-i18n="words.description"></span></strong></h4>
                                </div>
                                <div class="mb60" ng-bind-html="postdata.description"></div>
                                <!-- #end related data -->
                            </div>
                        </div>
                        <!-- #end inner row -->

                        <!-- info tabs -->
                        <tabset class="mt40">
                            <tab heading="{{lang.objects.activities.object}}">
                                <div class="clearfix latest-activity">
                                    <div ng-controller="ActivitiesCtrl">
                                        <div ng-include="'app/modules/activities/templates/list.html'"></div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{lang.objects.comments.objects}}">
                                <div class="clearfix latest-activity">
                                        <div class="clearfix latest-activity">
                                        <div ng-controller="CommentsCtrl">
                                            <div ng-include="'app/modules/comments/templates/list.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                        <!-- #end info tabs -->
                    </div>
                    <!-- #end panel -->
                </div> <!-- #end col -->
            </div> <!-- #end row -->
        </div>    <!-- #end page-wrap -->
    </div>
</div>